In [1]:
# Libraries
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import mysql.connector
from sqlalchemy import create_engine

import warnings
warnings.filterwarnings('ignore')

from passwords import CURSOR
from passwords import ENGINE

import sys
sys.path.insert(1, '../')

from src import add_table

`ENGINE` and `CURSOR` are variables with personal information, they are:
+ `ENGINE`: mysql+mysqlconnector://root:***@localhost:3306
+ `CURSOR`: mysql+mysqlconnector://root:***@localhost:3306/blockbuster

`CURSOR` is connected to the database we're going to create. `ENGINE` will only be used to create the database.

The database I'm going to create is the following:

![database](https://github.com/Kohkitos/sql-data-base-building/blob/main/img/database.jpg)

## Creating the database, adding tables and cleaned data

In [3]:
# create the database
ENGINE.execute('create database blockbuster;')

In [4]:
# adding clean data
tables = ['actor', 'film', 'inventory']

In [5]:
help(add_table)

Help on function add_table in module src:

add_table(name)
    This function adds a dataframe to the database the variable `CURSOR` is pointing as a table, setting the {name}_id as the primary key.

    Argument:
        table(pd.DataFrame): a dataframe with a {name}_id which will be the primary key.

    Returns:
        0: No errors during execution.
        1: There is not a .csv with the name `name`.
        2: there is not a {name}_id column in the dataframe.

In [6]:
for t in tables:
    add_table(t)

Table created succesfully
---------------
Table created succesfully
---------------
Table created succesfully
---------------

In [7]:
# the add_table function doesn't work for many-to-many tables, so I'm going to add it manually

df = pd.read_csv('../data/actor_film.csv')

for c in df.select_dtypes('integer'):
    df[c] = pd.to_numeric(df[c], downcast='integer')

df.to_sql(name='actor_film',
        con=CURSOR,
        if_exists='append',
        index=False
       )

1000

Now, we will be creating empty tables for further data Blockbuster will need to store

In [8]:
with CURSOR.connect() as con:
    con.execute(
        '''
        CREATE TABLE customer (
            customer_id SMALLINT PRIMARY KEY,
            first_name VARCHAR(50),
            last_name VARCHAR(50),
            email VARCHAR(100),
            phone_number VARCHAR(15),
            gender VARCHAR(10),
            location VARCHAR(100)
        );
        '''
    )
    
    con.execute(
        '''
        CREATE TABLE rental (
            rental_id SMALLINT PRIMARY KEY,
            rental_date DATE,
            inventory_id SMALLINT,
            customer_id SMALLINT,
            return_date VARCHAR(10)
        );
        '''
    )
    
    con.execute(
        '''
        CREATE TABLE store (
            store_id SMALLINT PRIMARY KEY,
            name VARCHAR(100),
            location VARCHAR(100),
            contact_phone VARCHAR(15),
            contact_email VARCHAR(100),
            warehouse_capacity INT
        );
        '''
    )

## Adding values on Store to prevent errors when creating relationships between tables

In [10]:
with CURSOR.connect() as con:
    con.execute(
        '''
        INSERT INTO store
        VALUES (
            1,
            'Blockbuster Torremolinos',
            'Torremolinos, MÃ¡laga',
            '+34 678 454 588',
            'torremolines@blockbuster.es',
            '500'
        )
        '''
    )

## Creating relationships between tables

In [11]:
# adding actor_film many to many table
with CURSOR.connect() as con:
    con.execute(
        '''
        ALTER TABLE actor_film
        ADD CONSTRAINT FK_Actor_Film_Actor
        FOREIGN KEY (actor_id)
        REFERENCES actor(actor_id),
        ADD CONSTRAINT FK_Actor_Film_Film
        FOREIGN KEY (film_id)
        REFERENCES film(film_id);
        '''
    )
    
    con.execute(
        '''
        ALTER TABLE rental
        ADD CONSTRAINT FK_Rental_Inventory
        FOREIGN KEY (inventory_id)
        REFERENCES inventory(inventory_id),
        ADD CONSTRAINT FK_Rental_Customer
        FOREIGN KEY (customer_id)
        REFERENCES customer(customer_id);
        '''
    )
    
    con.execute(
        '''
        ALTER TABLE inventory
        ADD CONSTRAINT FK_Inventory_Store
        FOREIGN KEY (store_id)
        REFERENCES store(store_id),
        ADD CONSTRAINT FK_Inventory_Film
        FOREIGN KEY (film_id)
        REFERENCES film(film_id);
        '''
    )