# Creating dummy values

Some time has passed since we created the database and now some customes have been (surprisingly) using the store's services and we have some data about them.

## Process

We're going to add dummy values to the `rental` and `customer` tables (like we did in the `store` table) so that we can de more complex queries in the final part of the project.

+ `customer`: using a couple libraries, we're going to add some random values to the table.
+ `rental`: we're going to use the original `rental.csv`, cleaning it and changing the date values so that it makes sense and randomnly changing the `customer_id` with the ids we've created on the previous steps

In [1]:
# Necessary installs

# %pip install faker

In [2]:
# libraries
import pandas as pd
pd.set_option('display.max_columns', None)

import numpy as np

import mysql.connector
from sqlalchemy import create_engine
from passwords import CURSOR

import warnings
warnings.filterwarnings('ignore')

import random as rd
from faker import Faker

## Filling customer table

In [3]:
# fetch the dable from sql
          
sql_query = pd.read_sql_query (
                                '''
                               SELECT
                               *
                               FROM customer
                               '''
                                , CURSOR)

df = pd.DataFrame(sql_query)

df

Empty DataFrame
Columns: [customer_id, first_name, last_name, email, phone_number, gender, location]
Index: []

In [4]:
['a', 'b', 'c'][rd.randint(0, 2)]

'b'

In [5]:
# we're going to create 25 dummy costumers

# set faker to get random spanish values
fake = Faker('es_ES')

# i + 1 will be the index
for i in range(25):
    # generate random gender
    gender = ['male', 'female', 'non-binary'][rd.randint(0,2)]
    
    # assign names depending on gender
    if gender == 'male':
        fname = fake.first_name_male()
        
    elif gender == 'female':
        fname = fake.first_name_female()
    
    else:
        fname = fake.first_name()
        
    lname = fake.last_name() + ' ' + fake.last_name()
        
    # creating dummy data with faker    
    location = fake.address()
    phone = fake.phone_number()
    email_domain = fake.domain_name()
    mail = f"{fname.lower()}.{lname.split()[0].lower()}@{email_domain}"
    
    # and append everything
    df.loc[i] = [i+1, fname, lname, mail, phone, gender, location]

In [7]:
df.head(10)

,customer_id,first_name,last_name,email,phone_number,gender,location
0,1,Édgar,Maldonado Villalba,édgar.maldonado@hidalgo-hervia.es,+34925900876,non-binary,"Alameda Asunción Río 9\nMálaga, 25617"
1,2,Pascual,Espinosa Pinto,pascual.espinosa@vives.es,+34900 30 81 44,male,"Callejón Julio Barreda 1\nMálaga, 22188"
2,3,Florinda,Mendizábal Chaparro,florinda.mendizábal@seco.es,+34745 43 47 55,female,"Plaza de Gabriel Llamas 77 Piso 3 \nAlmería, 1..."
3,4,Lorenzo,Amor Torrents,lorenzo.amor@landa-rossello.net,+34710 611 438,non-binary,"Ronda de Jaime Posada 18 Puerta 8 \nZaragoza, ..."
4,5,Esther,Huerta Sanchez,esther.huerta@armas.es,+34 977 737 594,non-binary,"C. Ciriaco Caballero 579 Piso 9 \nValencia, 29852"
5,6,Eulalia,Olivé Tejedor,eulalia.olivé@casado.net,+34888 40 71 35,female,"Camino Remigio Cases 58 Apt. 80 \nCeuta, 44458"
6,7,Amanda,Guillen Toro,amanda.guillen@collado-roca.net,+34927 98 79 35,female,"Vial de Carlito Verdú 56\nGuadalajara, 12209"
7,8,Rodolfo,Lladó Figuerola,rodolfo.lladó@reguera.net,+34676 395 080,male,Alameda de Daniela Uribe 629 Puerta 4 \nLleida...
8,9,Juanito,Barbero España,juanito.barbero@patino.es,+34 727 138 208,male,"Plaza Dalila Adán 56\nCastellón, 02507"
9,10,Sol,Soria Cantón,sol.soria@bonilla.es,+34 945764180,female,"Via Ramona Cánovas 4 Apt. 59 \nPontevedra, 16140"